<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" name="FirstTest">
    <classes>
      <class name="dockerDemo.dockerDemo.ChromeDockerTest"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="2" name="SecondTest">
    <classes>
      <class name="dockerDemo.dockerDemo.FirefoxDockerTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
